body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.row{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: 
   linear-gradient(rgba(40, 170, 55, 0.5),
   rgba(40, 170, 55, 0.5)), 
   url("../files/logo_chatbot.png");
   box-sizing: border-box;  
   margin: auto;
   display: block;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  div.column{
    background-color: rgba(195, 193, 193, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(15px);
}

  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: rgb(255, 255, 255);
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

.main, footer{
    width:100%;
    margin:40px auto;
    overflow: hidden;
}

header nav{
    background-color: #4F9A3C;
    height: 80px;  
    width: 100%;
    grid-area: nav;
    overflow: hidden; 
}

header nav ul{
    list-style: none;
}

header nav ul li{
    float: right;
}

header nav ul li a{
    padding: 14px 20px;
    display:block;
    color:#fff;
    text-decoration: none;
}

header nav ul li a:hover{
    background:#F2DD22
}

.articles{
    width: 65%;
    float:left;
    background: #FFF;
    padding: 20px;
    float:left;  
}
p#descripcion_inicial{
  font-size: x-large;
  text-align: center;
  width: 80%;
  margin: 20px auto;
  font-family: Arial, Helvetica, sans-serif;
}
h2#pregunta_inicial{
    font-size: xx-large;
    text-align: center;
    margin-top: 10%;
    width: 100%;
    font-family: 'Arial black', Arial, Helvetica, sans-serif;
    color: #0A3D8A;
}

div.dialogo_izq{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #F2DD22;
    word-wrap: break-word;
    white-space: pre-wrap;
    min-width:00px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 18px;
    padding-bottom: 18px;
    display:inline-block;
}
div.globo_inicio{
  width: 100%;
  font-size: x-large;
  align-items: center;
  text-align: right;
  padding-left: 30%;
  word-wrap: break-word;
  display:inline-block;
}

aside#logo_itsur{
    width: 0%;
    margin-top: 3%;
    align-items: center;
    margin-right: 0px;
    padding-left: 0px;
}

article.introduccion{
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
article#equipo{
  text-align: center;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}
.main_about_us{
  width: 90%;
  align-items: center;
  align-self: center;
  margin: 20px auto;
  color: #000;
}

button {
    font-family: Courier New;
    color: #fff305;
    font-size: 33px;
    padding: 10px;
    text-decoration: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    text-shadow: 1px 2px 4px #f9ff59;
    border: solid #e0dd2f 7px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#080c0f), to(#71bd55));
    background: -moz-linear-gradient(top, #080c0f, #71bd55);
}

button:hover {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#999999));
    background: -moz-linear-gradient(top, #000000, #999999)
}
  
input {
    background: #e2fdf4; 
    color: #0ebd84; 
    font-weight: bold; 
    padding: 15px; 
    border: 2px solid #e7f338; 
    border-radius: 6px;
}